{% extends 'base.html' %}


 {% block body %}
    <div class="container">
    {% for message in object_list %}
        <div class="card">
            <div class="card-header">
                {{message.message_category}}
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ message.message }}</p>
                    <footer class="blockquote-footer">Md Tariqul Hasan</footer>
                </blockquote>
            </div>
        </div>
        <br>
    {% endfor %}


        <!-- Content here -->
    </div>



 {% endblock %}